<div id="modal-confirm" class="modal fade in" aria-hidden="false" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" type="button">Vazgeç</button>
                <button class="btn btn-primary" data-dismiss="modal" type="button">Tamam</button>
            </div>
        </div>
    </div>
</div>