<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        <div class="modal-image"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">
            <span>İleri</span>
            <i class="fa fa-arrow-right icon-white"></i>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="fa fa-arrow-left icon-white"></i>
            <span>Geri</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="fa fa-play icon-white"></i>
            <span>Sunum Başlat</span>
        </a>
        <a class="btn modal-download" target="_blank" href="javascript:void(0);">
            <i class="fa fa-download"></i>
            <span>İndir</span>
        </a>
    </div>
</div>
