<div class="page-footer">
    <div class="copyright">
        Tüm hakları saklıdır. Copyrights &copy; @DateTime.Now.Year.ToString() <a href="/" title="Ege Medya" class="_blank">Ege Medya&trade;</a>
    </div>
</div>
