@using Dalowe.Domain.Visa
@using Dalowe.View.Web.Framework.Helpers
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="clock">
                <strong id="get-date" class="get-date"></strong>
                <div class="digital-clock">
                    <div id="getHours" class="get-time"></div>
                    <span>:</span>
                    <div id="getMinutes" class="get-time"></div>
                    <span>:</span>
                    <div id="getSeconds" class="get-time"></div>
                </div>
            </li>
            <li class="sidebar-heading">
                <h4>Ana Menü</h4>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th-large fa-fw"></i><span class="menu-title">İçerik Yönetim</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("CampaignList", "Management")">Kampanyalar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccessNodeList", "Management")">Erişim Noktaları</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-key fa-fw"></i><span class="menu-title">Kullanıcı & Yetki Yönetimi</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("UserList", "Visa")">Kullanıcılar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>