@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Ege Medya Yer Listesi</title>
</head>
<body>
    <h1>Bu yer listesini daha önceden onaylamıştınız.</h1>
</body>
</html>